{% extends 'base.html' %}
{% load static %}

{% block carousel %}
{% endblock %}

{% block content %}

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <hr>
            <h1 class="isoct mb-0">Our team</h1>
            <h5 class="text-muted">Project by:</h5>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 mb-5 mt-5 mr-5">
            <div class="card shadow">
                <img src="{% static 'base/team/eldiiar.jpg' %}" class="card-img-top" height="" alt="...">
                <div class="card-body">
                    <a href="https://github.com/eldiyar01" class="card-title isoct">
                        <h4 class="font-weight-bold">Eldiiar Abdyldaev</h4>
                    </a>
                    <p class="card-text rect text-muted">
                        University: AIU (Ala-Too)
                    </p>
                    <p class="card-text rect text-muted">Faculty: Computer Science</p>
                    <p class="card-text rect text-muted">Pretty simple boy</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted card-text">Life is like chess, I don't know how to play chess
                        <br>
                    <cite class="float-right">Maybe it's me</cite></small>
                </div>
            </div>
        </div>
        <div class="col-5 mb-5 mt-5 ml-5">
            <div class="card shadow">
                <img src="{% static 'base/team/elira.jpg' %}" class="card-img-top" height="473px" alt="...">
                <div class="card-body">
                    <a href="https://github.com/Libs-pixel" class="card-title isoct">
                        <h4 class="font-weight-bold">Akimbaeva Elira</h4>
                    </a>
                    <p class="card-text rect text-muted">
                        University: AIU (Ala-Too)
                    </p>
                    <p class="card-text rect text-muted">Faculty: Computer Science</p>
                    <p class="card-text rect text-muted">Pretty simple girl</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted card-text">Call me Libs
                        <br>
                    <cite class="float-right">Elira</cite></small>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}